<h1>Register</h1>
<form action="/create" method="POST" enctype="multipart/form-data">
  <div>
    <label for="name">Name</label>
    <input type="text" id="name" name="name" required />
  </div>
  <div>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" required />
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required />
  </div>
  <div>
    <label for="isSeller">Are you a seller?</label>
    <input type="checkbox" id="isSeller" name="isSeller" />
  </div>
  <div>
    <label for="payment">Payment</label>
    <input type="text" id="payment" name="payment" required />
  </div>
  <div>
    <input type="file" class="form-control-file" name="uploaded_file" />
  </div>
  <button type="submit">Register</button>
</form>
<a href="/login">Login</a>
